*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.containers-div{
    margin-bottom: 9%;
}

a {
    text-decoration: none !important;
}

.iu-logo{
    padding-left: 50px;
    width: 150px
}

.navbar-div-item{
    padding-left: 60px;

}

.navbar-div-item li{
   
    text-align: center;
    /* background-color: gray; */
    color: white;
    margin: 5px;
    border-radius: 5px;
    /* box-shadow: 2px 2px 3px 3px rgba(0, 0, 0, 0.5); */
}

.navbar-div-item li:hover{
    background-color: rgb(83, 83, 83);
    box-shadow: 2px 2px 4px 4px rgba(0, 0, 0, 0.5);
}


.profile-section{
    padding-left: 100px;
}



@media only screen and (min-width: 500px) {
    .profile-section{
       padding-left: 10px;
    }

    .content-wrapper{
        margin-top: 170px;
    }
    
}

@media only screen and (min-width: 600px) {
    .profile-section{
       padding-left: 50px;
    }

    .content-wrapper{
        margin-top: 125;
    }
}

@media only screen and (min-width: 700px) {
    .profile-section{
       padding-left: 75px;
    }

    .content-wrapper{
        margin-top: 125;
    }
}


@media only screen and (min-width: 768px) {
    .profile-section{
       padding-left: 100px;
    }

    .content-wrapper{
        margin-top: 125;
    }
}

@media only screen and (min-width: 868px) {
    .profile-section{
       padding-left: 125px;
    }

    .content-wrapper{
        margin-top: 125;
    }
}


@media only screen and (min-width: 992px) {
    .profile-section{
       padding-left: 130px;
    }

        .content-wrapper{
        margin-top: 125;
    }
}

@media only screen and (min-width: 1100px) {
    .profile-section{
       padding-left: 160px;
    }

        .content-wrapper{
        margin-top: 125;
    }
}

@media only screen and (min-width: 1150px) {
    .profile-section{
        padding-left: 200px;
    }

    .content-wrapper{
        margin-top: 125;
    }
}

@media only screen and (min-width: 1200px) {
    .profile-section{
        padding-left: 200px;
    }

    .content-wrapper{
        margin-top: 125;
    }
}


header::after{
    content: "";
    display: block;
    clear: both;
    position: relative;
}

.containers-div::after{
    content: "";
    display: block;
    clear: both;
    position: relative;
}


/* navbar complated--------------------------- */



/* main section  start ended */

.content-wrapper{
    min-height:  calc(100vh - 200px);
}

/* main section ended here */



/* footer started */


.footer-designed{
    background-color: rgb(144, 148, 148);
}

.footer-a:hover{
    background-color: gray;
    margin: 2px 20px;
    border-radius: 5px;
}


/* footer ended  */