*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
.containers{
    width: 100%;
    height: 100vh;
}

.banner-section{
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100vh;
    overflow: hidden;
    position: relative;
    text-align: center;
    background-image: url(images\mosque.jpeg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    text-align: center;
    justify-content: center;
    animation: changes 40s infinite ease-in-out;
}


.contain{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-transform: uppercase;
    padding: 10px;
}

.contain h1{
    font-size: 1.5rem;
    padding: 10px;
}


.button-sections{
    padding: 10px;
}


.button-sections .login-button, .register-button{
    width: 150px;
    padding: 10px;
    background-color: green;
    text-align: center;
    border: none;
    outline: none;
    border-radius: 5px;
    color: white;
    margin: 10px;
}

.button-sections .login-button:hover, .register-button:hover{
    transform: scale(1.2);
}

.button-sections .login-button a, .register-button a{
    color: white;
    text-decoration: none;
    padding: 20px;
}



    /* Blood Group secions start from here */





     /* Blood Group secions ended from here */


    

@keyframes changes{
    0%
    {
        background-image: url(images/main_gate_jpeg.jpeg);
    }
    5%
    {
        background-image: url(images/leak.jpg);
    }
    10%
    {
        background-image: url(images/300px-Iub_mainGate_tree_jpeg.jpg);
    }
    15%
    {
        background-image: url(images/saddam.jpeg);
    }
    20%
    {
        background-image: url(images/tree.jpg);
    }
    30%
    {
        background-image: url(images/mosque.jpeg);
    }
    40%
    {
        background-image: url(images/library_font.jpeg);
    }
    50%
    {
        background-image: url(images/library_side.jpeg);
    }

    60%
    {
        background-image: url(images/sohid_minar.jpg);
    }

    70%
    {
        background-image: url(images/sohid_minar_foyar.jpg);
    }

    80%
    {
        background-image: url(images/trophy.jpeg);
    }

    90%
    {
        background-image: url(images/muktobangla.jpeg);
    }

    100%
    {
        background-image: url(images/trophy.jpeg);
    }
    

}

