{% extends 'base.html' %}
{% load static %}


 

{% block css %}
   {% static 'css/home.css' %}
{% endblock css %}
   
{% block content %}

 <div class="containers">
    <div class="banner-section">
        <div class="contain">
         <h1>“Every morning you have two choices: continue to sleep with your dreams, or wake up and chase them.”</h1>
         <h1>WelCome <br> To <br> Islamic University</h1>


         <div class="button-sections">
            <button class="login-button"><a href="#">Login</a></button>
            <button class="register-button"><a href="#">Register</a></button>
         </div>
 
        </div>
 
    </div>

 </div>


{% endblock content %}