

{% extends "base.html" %}

{% load static %}


{% block css %}

{% static 'css/toggle_dashboard.css' %}

{% endblock css %}


{% block content %}

   

    <div class="container-fluid">
        <div class="row">

            <!-- navigation area start from here -->
            <div class="col-12 col-md-2 navi-class" id="student_toggle_unit">
                 <ul class="nav d-block nav-pills">
                    <li class="nav-item"><a  data-bs-toggle="pill" class="border nav-link active"  href="#Unit-select">Unit Select</a></li>
                    <li class="nav-item"><a   class="border nav-link "  href="{% url 'application_condition' 'A' %}">A-Unit Application </a></li>
                    <li class="nav-item"><a   class="border nav-link"  href="{% url 'prospectus' 'A' %}">A-Unit Prospectus</a></li>
                    <li class="nav-item"><a   class="border nav-link"  href="{% url 'notice' 'A' %}">A-Unit Notices</a></li>
                    <li class="nav-item"><a   class="border nav-link"  href="{% url 'payment' %}">Payment</a></li>
                    <li class="nav-item"><a   class="border nav-link"  href="{% url 'admitcart' %}">A Unit Admit Card</a></li>
                 </ul>
            </div>

            <!-- navigatin area ended from here  --> 


            <!-- container information area start   -->
            <div class="col-12 col-md-6 container-section">

                <div class="tab-content">
                    <div id="Unit-select" class="tab-pane active">
                        <form action="#" method="post">
                            {% csrf_token %}
                               <div class="row mx-5">
                                <label for="unit_select">Select Unit</label>
                                <select onclick="UnitSelection()" class="py-2 rounded" name="unit" id="units_selections">
                                    <option value="A">A Unit</option>
                                    <option value="B">B Unit</option>
                                    <option value="C">C Unit</option>
                                    <option value="D">D Unit</option>
                                </select>
                               </div>

                        </form>
                    </div>
                </div>
    
            </div>
             <!-- container information area  ended from here -->


             <!-- notification are ended from here  -->
             <div class="col-12 col-md-4">
                   
                   <h4 class="bg-primary text-white rounded py-2 text-center">Notification</h4>
                   <p id="apply">{{massege}}</p>
               
                   
             </div>



            <!-- notification are ended from here  -->


            <!-- url container start from here -->



            <!-- url container ended from her e -->
        </div>
    </div>



    <script>
        // Function to change text color
        function changeTextColor() {
            var element = document.getElementById('apply');
            var colors = ['red', 'blue', 'black', 'orange']; // Array of colors
            var currentColorIndex = 0;
    
            // Function to update the color
            function updateColor() {
                element.style.color = colors[currentColorIndex];
                currentColorIndex = (currentColorIndex + 1) % colors.length;
            }
    
            // Change color every 15 seconds
            var colorInterval = setInterval(updateColor, 7000);
    
            // Remove element and clear interval after 1 minute
            setTimeout(function() {
                clearInterval(colorInterval);
                if (element) {
                    element.remove();
                }
            }, 30000);
    
            // Initial call to set the first color
            updateColor();
        }
    
        // Call the function to start the process
        changeTextColor();
    </script>


{% endblock content %}

{% block js %}
   {% static 'js/student_panel.js'%}
{% endblock js %}


