

{% extends "base.html" %}

{% load static %}


{% block css %}

{% static 'css/teacher_toggle_dashboard.css' %}

{% endblock css %}


{% block content %}
    
    <div class="container-fluid">
        <div class="row">

            <!-- navigation area start from here -->
            <div class="col-12 col-md-3 navi-class">
                 <ul class="nav d-block nav-pills">
                    <li class="nav-item"><a  data-bs-toggle="pill" class="border m-2 nav-link active"  href="#application">Create Application Tarms&condition</a></li>
                    <li class="nav-item"><a  data-bs-toggle="pill" class="border m-2 nav-link"  href="#Prospectus">Upload Prospectus</a></li>
                    <li class="nav-item"><a  data-bs-toggle="pill" class="border m-2 nav-link"  href="#Notces">Make Notices</a></li>
                    <li class="nav-item"><a  data-bs-toggle="pill" class="border m-2 nav-link"  href="#makeresult">Make Result</a></li>
                    <li class="nav-item"><a  data-bs-toggle="pill" class="border m-2 nav-link"  href="#admitcartdate">Admit Cart Publish Date </a></li>
                    <li class="nav-item"><a  data-bs-toggle="pill" class="border m-2 nav-link"  href="#resultdate">Result Publish Date </a></li>

                    <li class="nav-item"><a  data-bs-toggle="pill" class="border m-2 nav-link"  href="#publish_merit_position">Publish Merit Position</a></li>

                    <li class="nav-item"><a  data-bs-toggle="pill" class="border m-2 nav-link"  href="#student_subject_give">Give Student Subject</a></li>
                    <li class="nav-item"><a  data-bs-toggle="pill" class="border m-2 nav-link"  href="#subject_status">Subject Status</a></li>
                 </ul>
            </div>

            <!-- navigatin area ended from here  -->


            <!-- container information area start   -->
            <div class="col-12 col-md-7 container-section">

                <div class="tab-content">
                      
                    <!-- Application condition create start from here  -->
                    <div id="application" class="tab-pane active">
                        <div class="container">
                            <h3 class="text-center bg-primary text-white p-2 rounded">Make Application Terms & Condition</h3>

                            <form action="{% url 'application_condition' %}" method="post" >
                                {% csrf_token %}
                                <div class="container">
                                    <div class="row m-3">
                                        <label for="UnitName">Select Unit Name</label>

                                        <select id="UnitName" class="form-control " name="UnitName" placeholder="Unit Select" required>
                                            <option value="A">A</option>
                                            <option value="B">B</option>
                                            <option value="C">C</option>
                                            <option value="D">D</option>    
                                        </select>
                                    </div>

                                    <div class="row m-3">
                                        <input type="text" id="Taka" class="form-control" name="Taka" placeholder="Application Free"  required>
                                    </div>

                                    
                                    <div class="row m-3">
                                        <small>First Date</small>
                                        <input type="date" id="firstdate" class="form-control" name="firstdate" placeholder="First Date"  required>
                                    </div>

                                    <div class="row m-3">
                                        <small>Last Date</small>
                                        <input type="date" id="lastdate" class="form-control" name="lastdate" placeholder="Last Date"  required>
                                    </div>

                                    
                                    <div class="row m-3">
                                        <input type="text" id="totalsit" class="form-control" name="totalsit" placeholder="Total Sit"  required>
                                    </div>

                                    <div class="row m-3">
                                        <input type="text" id="sci_sit" class="form-control" name="sci_sit" placeholder="Number of sit For Science "  required>
                                    </div>

                                    <div class="row m-3">
                                        <input type="text" id="arts_sit" class="form-control" name="arts_sit" placeholder="Number of sit For Arts "  required>
                                    </div>

                                    <div class="row m-3">
                                        <input type="text" id="com_sit" class="form-control" name="com_sit" placeholder="Number of sit For commerce "  required>
                                    </div>

                                    <div class="row m-3">
                                        <input type="text" id="tec_adu_sit" class="form-control" name="tec_adu_sit" placeholder="Number of sit For Technical education"  required>
                                    </div>

                                    
                                    <div class="row m-3">
                                        <textarea type="text" id="sci_qua" class="form-control" name="sci_qua" placeholder="Qualitication for Science"  required></textarea>
                                    </div>

                                    <div class="row m-3">
                                        <textarea type="text" id="arts_qua" class="form-control" name="arts_qua" placeholder="Qualitication for Arts"  required></textarea>
                                    </div>

                                    <div class="row m-3 ">
                                        <textarea type="text" id="com_qua"class="form-control" name="com_qua" placeholder="Qualitication for commerce"  required></textarea>
                                    </div>

                                    <div class="row m-3 ">
                                        <textarea type="text" id="tec_qua"class="form-control" name="tec_qua" placeholder="Qualitication for Technical education"  required></textarea>
                                    </div>

                                </div>
                               
                                 <div class="row mb-5">
                                    <div class="col text-end me-5">
                                        <button class="btn btn-primary px-5" type="reset">Reset</button>
                                        <button class="btn btn-primary px-5" type="submit">Submit</button>
                                       
                                    </div>

                                 </div>

                            </form>
                        </div>
                    </div>

                    <!-- Application condition create ended from here  -->

                    
                    <!-- Prospectus  section start from here -->
                    <div id="Prospectus" class="tab-pane fade">
                        <div class="container">
                            <div class="row">
                                <h3 class="Title text-center bg-primary text-white py-2 rounded">
                                    Upload Prospectus Pdf </h3>

                                    <div class="forms-container">
                                        <form  method="post" action="{% url 'prospectus' %}" enctype="multipart/form-data">
                                            {% csrf_token %}
                                            <div class="container">
                                                <div class="row my-4">
                                                    <label for="UnitName">Select Unit Name</label>

                                                    <select id="UnitName" class="form-control " name="UnitName" placeholder="Unit Select" required>
                                                        <option value="A">A</option>
                                                        <option value="B">B</option>
                                                        <option value="C">C</option>
                                                        <option value="D">D</option>    
                                                    </select>
                                                </div>

                                                <div class="row">
                                                    <label for="pdf">Prospectus PDF</label>
                                                    <input type="file" class="form-control" id="pdf" name="pdf">
                                                </div>
                                            </div>

                                            <div class="row mt-4">
                                                <div class="col text-end me-5">
                                                    <button class="btn btn-primary px-5" type="reset">Reset</button>
                                                    <button class="btn btn-primary px-5" type="submit">Submit</button>
                                                   
                                                </div>
            
                                             </div>
                                        </form>
                                    </div>
                                
                            </div>
                        </div>
                    </div>

                    <!-- prospectus sectin ends from here -->


                    <!-- Notice sections start from here -->

                    <div id="Notces" class="tab-pane fade">
                         <div class="container">
                            <form  method="post" action="{% url 'notice' %}" enctype="multipart/form-data">
                                {% csrf_token %}
                                <div class="container">
                                    <div class="row my-4">
                                        <label for="UnitName">Select Unit Name</label>

                                        <select id="UnitName" class="form-control " name="UnitName" placeholder="Unit Select" required>
                                            <option value="A">A</option>
                                            <option value="B">B</option>
                                            <option value="C">C</option>
                                            <option value="D">D</option>    
                                        </select>
                                    </div>

                                    <div class="row">
                                        <label for="notice">Notice Title</label>
                                        <input type="text" class="form-control" id="notice" name="notice_title">
                                    </div>

                                    <div class="row mt-2">
                                        <label for="notice">Notice Pdf</label>
                                        <input type="file" class="form-control" id="notice" name="notice_pdf">
                                    </div>
                                </div>

                                <div class="row mt-4">
                                    <div class="col text-end me-5">
                                        <button class="btn btn-primary px-5" type="reset">Reset</button>
                                        <button class="btn btn-primary px-5" type="submit">Submit</button>
                                       
                                    </div>

                                 </div>
                            </form>
                         </div>
                    </div>

                    <!-- Notice sectins ended from here  -->



                         <!-- make result sections complated  -->
                    <div id="makeresult" class="tab-pane fade">
                        <div class="container">
                            <form  method="post" action="{% url 'makeresult' %}">
                                {% csrf_token %}
                                <div class="container">
                                    <div class="row my-4">
                                        <label for="UnitName">Select Unit Name</label>

                                        <select id="UnitName" class="form-control " name="UnitName" placeholder="Unit Select" required>
                                            <option value="A">A</option>
                                            <option value="B">B</option>
                                            <option value="C">C</option>
                                            <option value="D">D</option>    
                                        </select>
                                    </div>

                                    <div class="row">
                                        <label for="roll">Roll</label>
                                        <input type="text" class="form-control" id="roll" name="roll">
                                    </div>

                                    <div class="row">
                                        <label for="obtain_mark">Obtain Mark</label>
                                        <input type="text" class="form-control" id="obtain_mark" name="obtain_mark">
                                    </div>
                                </div>

                                <div class="row mt-4">
                                    <div class="col text-end me-5">
                                        <button class="btn btn-primary px-5" type="reset">Reset</button>
                                        <button class="btn btn-primary px-5" type="submit">Submit</button>
                                       
                                    </div>

                                 </div>
                            </form>
                         </div>
                    </div>

                         <!-- make result sections ended  -->


                         <!-- subject giving section start from here  -->


                         <div id="student_subject_give" class="tab-pane fade">
                            <div class="container">
                                <form  method="post" action="{% url 'gotsubject' %}">
                                    {% csrf_token %}
                                    <div class="container">
                                        <div class="row my-4">
                                            <label for="UnitName">Select Unit Name</label>
    
                                            <select id="unit_subject" onclick="selectUnit()" class="form-control " name="unit" placeholder="Unit Select" required>
                                                <option value="A">A</option>
                                                <option value="B">B</option>
                                                <option value="C">C</option>
                                                <option value="D">D</option>    
                                            </select>
                                        </div>

                                    
    
                                        <div class="row">
                                            <label for="roll">Roll</label>
                                            <input type="text" class="form-control" id="roll" name="roll">
                                        </div>

                                        <div class="row">
                                            <label for="subject">Subject</label>
                                            <select class="form-control" name="subject" id="subject">
                                                <option value="Aqq">At First, Click on Subject</option>
                                            </select>
                                        </div>
                                         
                                        <div class="row my-4">
                                            <label for="gender">Select Gender</label>
    
                                            <select id="gender" onclick="SelectGender()" class="form-control" name="gender" required>
                                                <option value="male">Male</option>
                                                <option value="female">Famale</option>
                                                
                                            </select>
                                        </div>
    
                                        <div class="row">
                                            <label for="hallname">Hall</label>
                                            <select class="form-control" name="hallname" id="hallname">
                                                  <option value="first">Select Gender First</option>
                                            </select>
                                        </div>
                                    </div>
    
                                    <div class="row mt-4">
                                        <div class="col text-end me-5">
                                            <button class="btn btn-primary px-5" type="reset">Reset</button>
                                            <button class="btn btn-primary px-5" type="submit">Submit</button>
                                           
                                        </div>
    
                                     </div>
                                </form>
                             </div>
                        </div>
    

                         <!-- subject giving sectin end from here  -->



                         <!-- check subject status  how many set rest -->
                             <div id="subject_status" class="tab-pane fade">
                                <div class="container">
                                    <form action="#" method="post">
                                        {% csrf_token %}
    
                                        <label for="UnitName">Select Unit Name</label>
    
                                        <select id="UnitName" class="form-control mb-2" name="unit" placeholder="Unit Select" required>
                                            <option value="A">A</option>
                                            <option value="B">B</option>
                                            <option value="C">C</option>
                                            <option value="D">D</option>    
                                        </select>
                                    </form>
                                </div>
                                
                                <div id="subject_status_each" class="container">
                                    <li class="list-unstyled pd-2">
                                        <div class="row pd-2">
                                            <div class="col-3">Subject Name:</div>
                                            <div class="col-3">Total Set:</div>
                                            <div class="col-3">Admited:</div>
                                            <div class="col-3">Available:</div>
                                        </div>
                                    </li>

                                    <li class="list-unstyled pd-2">
                                        <div class="row pd-2">
                                            <div class="col-3">CSE</div>
                                            <div class="col-3">50</div>
                                            <div class="col-3">40</div>
                                            <div class="col-3">10</div>
                                        </div>
                                    </li>
                                </div>

                             </div>
                         <!-- check subject status  how many set rest -->

                         <!-- result pushlish date  start -->

                             <div id="resultdate" class="tab-pane fade">
                                <div class="container">
                                    <form action="{% url 'resultpb' %}" method="post">
                                        {% csrf_token %}

                                        <label for="UnitName">Select Unit Name</label>

                                        <select id="UnitName" class="form-control mb-3" name="unit" placeholder="Unit Select" required>
                                            <option value="A">A</option>
                                            <option value="B">B</option>
                                            <option value="C">C</option>
                                            <option value="D">D</option>    
                                        </select>

                                        <button class="btn btn-primary">pushlish Now</button>
                                    </form>
                               </div>
    
                             </div>
                         <!-- result pushlish date end -->


                         <!-- Admit Cart pushlish date start here -->

                         <div id="admitcartdate" class="tab-pane fade">
                            <div class="container">
                                <form action="{% url 'admitcartdate' %}" method="post">
                                    {% csrf_token %}

                                    <label for="UnitName">Select Unit Name</label>

                                    <select id="UnitName" class="form-control mb-2" name="unit" placeholder="Unit Select" required>
                                        <option value="A">A</option>
                                        <option value="B">B</option>
                                        <option value="C">C</option>
                                        <option value="D">D</option>    
                                    </select>

                                    <button class="btn btn-primary">pushlish Now</button>
                                </form>
                           </div>

                         </div>

                         <!-- admit cart pushlish date ended here  -->


                         <!-- Publish Merit position section start from here  -->

                         <div id="publish_merit_position" class="tab-pane fade">
                            <div class="container">
                               <form  method="post" action="{% url 'publish_merit_position' %}" enctype="multipart/form-data">
                                   {% csrf_token %}
                                   <div class="container">
                                       <div class="row my-4">
                                           <label for="UnitName">Select Unit Name</label>
   
                                           <select id="UnitName" class="form-control " name="unit" placeholder="Unit Select" required>
                                               <option value="A">A</option>
                                               <option value="B">B</option>
                                               <option value="C">C</option>
                                               <option value="D">D</option>    
                                           </select>
                                       </div>
   
                                       <div class="row">
                                           <label for="notice">Range of Merit List:</label>
                                       
                                           <br>

                                           <div class="row">
                                            <div class="col-6">
                                                <label for="first:">Starting Number:</label>
                                                <input type="number" class="form-control" name="first" id="first">
                                            </div>

                                            <div class="col-6">
                                                <label for="second">Ending Number:</label> <br>
                                                <input type="number" class="form-control" name="second" id="second">
                                            </div>
                                           </div>
                                           
                                       </div>
   

                                   </div>
   
                                   <div class="row mt-4">
                                       <div class="col text-end me-5">
                                           <button class="btn btn-primary px-5" type="reset">Reset</button>
                                           <button class="btn btn-primary px-5" type="submit">Submit</button>
                                          
                                       </div>
   
                                    </div>
                               </form>
                            </div>
                       </div>

                         <!-- Publish Merit position section ended here  -->

                </div>

                
                
            </div>
             <!-- container information area  ended from here -->


             <div class="col-12 col-md-2">
                <div class="row">
                    <h3 class="bg-primary">Notifications</h3>

                    <p id="apply">{{message}}</p>
                </div>
             </div>
        </div>
    </div>

<script>
        function SelectGender()
        {

            const maleHall = [
                ["SHH", "Saddam Hossain Hall"],
                ["JPBSMRH", "Jatir Pita Bangabandhu Sheikh Mujibur Rahman Hall"],
                ["SPZRH", "Shahid President Ziaur Rahman Hall"],
                ["LSH", "Lalon Shah Hall"],
                ["SRH", "Sheikh Russel Hall"]
            ];



                        const femaleHall = [
                            ["KZH", "Khaleda Zia Hall"],
                            ["DSHH", "Deshratno Sheikh Hasina Hall"],
                            ["BSFMH", "Bangamata Sheikh Fazilatunnesa Mujib Hall"],
                           ];




                const gender = document.getElementById('gender').value;
                const hallName = document.getElementById('hallname');

                if(gender=='male')
                {
                    let xmlCode = '';
                    maleHall.forEach(value => {
                        xmlCode += `<option value=${value[0]}>${value[1]}</option>`
                    })
                    hallName.innerHTML = xmlCode;
                }

                else{

                    let xmlCode = '';
                    femaleHall.forEach(value => {
                        xmlCode += `<option value=${value[0]}>${value[1]}</option>`
                    })
                    hallName.innerHTML = xmlCode;

                }

        

    }

</script>


<script>
    // Function to change text color
    function changeTextColor() {
        var element = document.getElementById('apply');
        var colors = ['red', 'blue', 'black', 'orange']; // Array of colors
        var currentColorIndex = 0;

        // Function to update the color
        function updateColor() {
            element.style.color = colors[currentColorIndex];
            currentColorIndex = (currentColorIndex + 1) % colors.length;
        }

        // Change color every 15 seconds
        var colorInterval = setInterval(updateColor, 7000);

        // Remove element and clear interval after 1 minute
        setTimeout(function() {
            clearInterval(colorInterval);
            if (element) {
                element.remove();
            }
        }, 30000);

        // Initial call to set the first color
        updateColor();
    }

    // Call the function to start the process
    changeTextColor();
</script>


{% endblock content %}

{% block js %} {% static 'js/subjectgiving.js' %} {% endblock js %}

