

{% extends "base.html" %}

{% load static %}


{% block css %}

{% static 'css/login.css' %}

{% endblock css %}


{% block content %}
 
<div class="login-section">
    <div class="login">
        <div class="container container-m">
            <div class="heads text-center col-9 bg-light">
                <h2 style="font-size: 1rem;">Select Unit , Username and Password For Admit Cart</h2>
            </div>
    
            <form method="post">
                {% csrf_token %}
                <div class="form-group m-3 col-9">
                    <label for="id_username">Username:</label>
                    <input class="form-control" type="text" id="id_username" name="username" value="" required>
                </div>
                <div class="form-group m-3 col-9">
                    <label for="id_password">Password:</label>
                    <input class="form-control" type="password" id="id_password" name="password" required>
                </div>

                <div class="form-group m-3 col-9">
                    <label for="unit">Unit Select:</label>
                    <select class="form-control" name="unit" id="unit">
                        <option value="A">A Unit</option>
                        <option value="B">B Unit</option>
                        <option value="C">C Unit</option>
                        <option value="D">D Unit</option>
                    </select>
                </div>

                <div class="login-buttom text-center text-end" >
                    <button style="width: 150px; " class="btn btn-primary" type="submit" class="login">Submit</button>
                </div>
            </form>
            
        </div>
    </div>

</div>

{% endblock content %}



