

{% extends "base.html" %}

{% load static %}


{% block css %}

{% static 'css/toggle_dashboard.css' %}

{% endblock css %}


{% block content %}
    <div class="container-fluid">
        <div class="row">

            <!-- navigation area start from here -->
            <div class="col-12 col-md-2 navi-class" id="student_toggle_unit">
                 <ul class="nav d-block nav-pills">
                    <li class="nav-item"><a  data-bs-toggle="pill" class="border nav-link "  href="#Unit-select">Unit Select</a></li>
                    <li class="nav-item"><a  data-bs-toggle="pill" class="border nav-link active"  href="#application">A-Unit Application </a></li>
                    <li class="nav-item"><a  class="border nav-link" href="{% url 'prospectus' %}">A-Unit Prospectus</a></li>
                    <li class="nav-item"><a  class="border nav-link"  href="{% url 'notice' %}">A-Unit Notices</a></li>
                    <li class="nav-item"><a  class="border nav-link"  href="#admit-card">A Unit Admit Card</a></li>
                 </ul>
            </div>

            <!-- navigatin area ended from here  -->


            <!-- container information area start   -->
            <div class="col-12 col-md-6 container-section">

                
                <!-- applicaion condition area strated here  -->
                <div class="tab-content">
                    <div id="application" class="tab-pane active">
                       <h1>hello application select</h1>
                    </div>
                </div>
                <!-- applicaion condition area ended here  -->


                <!-- subject selection section start here -->
                <div class="tab-content">
                    <div id="Unit-select" class="tab-pane">
                        <form action="#" method="post">
                            {% csrf_token %}
                               <div class="row mx-5">
                                <label for="unit_select">Select Unit</label>
                                <select onclick="UnitSelection()" class="py-2 rounded" name="unit" id="units_selections">
                                    <option value="A">A Unit</option>
                                    <option value="B">B Unit</option>
                                    <option value="C">C Unit</option>
                                    <option value="D">D Unit</option>
                                </select>
                               </div>

                        </form>
                    </div>
                </div>

                <!-- subject selection section ended here -->
    
            </div>
             <!-- container information area  ended from here -->


             <!-- notification are ended from here  -->
             <div class="col-12 col-md-4">
                   <h4 class="bg-primary text-white rounded py-2 text-center">Notification</h4>
             </div>
            <!-- notification are ended from here  -->
        </div>
    </div>
{% endblock content %}

{% block js %}
   {% static 'js/student_panel.js'%}
{% endblock js %}


