

{% extends "base.html" %}

{% load static %}


{% block css %}

{% static 'css/toggle_dashboard.css' %}

{% endblock css %}


{% block content %}
    <div class="container-fluid">
        <div class="row">

            <!-- navigation area start from here -->
            {% if unitS == 'A' %}
            <div class="col-12 col-md-2 navi-class" id="student_toggle_unit">
                 <ul class="nav d-block nav-pills">
                  
                    <li class="nav-item"><a  class="border nav-link "  href="{% url 'application_condition' 'A' %}">A-Unit Application </a></li>
                    <li class="nav-item"><a  class="border nav-link" href="{% url 'prospectus' 'A' %}">A-Unit Prospectus</a></li>
                    <li class="nav-item"><a  class="border nav-link"  href="{% url 'notice' 'A' %}">A-Unit Notices</a></li>
                    <li class="nav-item"><a  class="border nav-link"  href="#admit-card">A Unit Admit Card</a></li>
                 </ul>
            </div>
            {% elif unitS == 'B' %}

            <div class="col-12 col-md-2 navi-class" id="student_toggle_unit">
                <ul class="nav d-block nav-pills">
                 
                   <li class="nav-item"><a  class="border nav-link "  href="{% url 'application_condition' 'A' %}">B-Unit Application </a></li>
                   <li class="nav-item"><a  class="border nav-link" href="{% url 'prospectus' 'B' %}">B-Unit Prospectus</a></li>
                   <li class="nav-item"><a  class="border nav-link"  href="{% url 'notice' 'B' %}">B-Unit Notices</a></li>
                   <li class="nav-item"><a  class="border nav-link"  href="#admit-card">B Unit Admit Card</a></li>
                </ul>
           </div>

            {% elif unitS == 'C' %}

            <div class="col-12 col-md-2 navi-class" id="student_toggle_unit">
                <ul class="nav d-block nav-pills">
                 
                   <li class="nav-item"><a  class="border nav-link "  href="{% url 'application_condition' 'A' %}">C-Unit Application </a></li>
                   <li class="nav-item"><a  class="border nav-link" href="{% url 'prospectus' 'C' %}">C-Unit Prospectus</a></li>
                   <li class="nav-item"><a  class="border nav-link"  href="{% url 'notice' 'C' %}">C-Unit Notices</a></li>
                   <li class="nav-item"><a  class="border nav-link"  href="#admit-card">C Unit Admit Card</a></li>
                </ul>
           </div>

            {% else %}

            <div class="col-12 col-md-2 navi-class" id="student_toggle_unit">
                <ul class="nav d-block">
                 
                   <li class="nav-item"><a  class="border nav-link "  href="{% url 'application_condition' 'A' %}">D-Unit Application </a></li>
                   <li class="nav-item"><a  class="border nav-link" href="{% url 'prospectus' 'D' %}">D-Unit Prospectus</a></li>
                   <li class="nav-item"><a  class="border nav-link"  href="{% url 'notice' 'D' %}">D-Unit Notices</a></li>
                   <li class="nav-item"><a  class="border nav-link"  href="#admit-card">D Unit Admit Card</a></li>
                </ul>
           </div>

             {% endif %}

            <!-- navigatin area ended from here  -->

            
            <!-- container information area start   -->
            <div class="col-12 col-md-6 container-section">

                {% if flag == "flag" %}
                
                {% if notice %}
                <h1>Notificatoins for Unit: {{ notice.unit }}</h1>
                <!-- <p>Uploaded on: {{ prospectus.uploaded_at }}</p> -->
                <iframe src="{{ notice.notice.url }}" style="width: 100%; min-height: 100vh"> allow fullscreen  </iframe>
                 {% else %}
                <p>No Notificatoins available for this unit.</p>
                {% endif %}

                {% else %}

                <!-- applicaion condition area strated here  -->
                <div class="tab-content">
                    <div id="Prospectus" class="tab-pane active">
                        {% if notice %}

                        <div class="row bg-primary rounded text-white shadow my-2">
                            <div class="col-4"><p>Unit Name</p></div>
                            <div class="col-4"><p>Title</p></div>
                            <div class="col-4"><p>More Details</p></div>
                        </div>

                        {% for not in notice %}
                         
                        <div class="row bg-light rounded text-black shadow my-2">
                            <div class="col-4"><p>{{not.unit}}</p></div>
                            <div class="col-4"><p>{{not.title}}</p></div>
                            <div class="col-4"><a href="{% url 'noticedetail' not.id %}">Details</a></div>
                        </div>

                        {% endfor %}

                        {% else %}

                        <h3>Notificatoins does not exsit!</h3>

                        {% endif %}
                    </div>
                </div>
                {% endif %}
                <!-- applicaion condition area ended here  -->


                <!-- subject selection section start here -->


                <!-- subject selection section ended here -->
    
            </div>
             <!-- container information area  ended from here -->


             <!-- notification are ended from here  -->
             <div class="col-12 col-md-4">
                <div class="tab-content">
                    <div id="Unit-select">
                        <form action="#" method="post">
                            {% csrf_token %}
                               <div class="row mx-5">
                                <label for="unit_select">Select Unit</label>
                                <select onclick="UnitSelection()" class="py-2 rounded" name="unit" id="units_selections">
                                    <option value="A">A Unit</option>
                                    <option value="B">B Unit</option>
                                    <option value="C">C Unit</option>
                                    <option value="D">D Unit</option>
                                </select>
                               </div>

                        </form>
                    </div>
                </div>

             </div>
            <!-- notification are ended from here  -->
        </div>
    </div>




    <script>
        

        function UnitSelection()
        {
            console.log("yes call")
            const unit = document.getElementById('units_selections').value 
            const section = document.getElementById('student_toggle_unit');
            
            if(unit=="B")
                {
                    let xmlCode = ` 
                    <ul class="nav d-block nav-pills">
                   
                    <li class="nav-item"><a   class="border nav-link "  href="http://127.0.0.1:8000/information/make/application/condition/B">B-Unit Application </a></li>
                    <li class="nav-item"><a   class="border nav-link "  href="http://127.0.0.1:8000/information/make/Prospectus/B">B-Unit Prospectus </a></li>
                    <li class="nav-item"><a   class="border nav-link"  href="http://127.0.0.1:8000/information/make/Notice/B">B-Unit Notices</a></li>
                    <li class="nav-item"><a   class="border nav-link"  href="#admit-card">B Unit Admit Card</a></li>
                    </ul>
                    `
        
                    section.innerHTML = xmlCode;
                }
        
               else if(unit=="A")
                    {
                        let xmlCode = `
                        
                        <ul class="nav d-block nav-pills">
                       
                        <li class="nav-item"><a   class="border nav-link "  href="http://127.0.0.1:8000/information/make/application/condition/A">A-Unit Application </a></li>
                        <li class="nav-item"><a   class="border nav-link"  href="http://127.0.0.1:8000/information/make/Prospectus/A">A-Unit Prospectus</a></li>
                        <li class="nav-item"><a   class="border nav-link"  href="http://127.0.0.1:8000/information/make/Notice/A">A-Unit Notices</a></li>
                        <li class="nav-item"><a   class="border nav-link"  href="#admit-card">A Unit Admit Card</a></li>
                     </ul>
                        
                        `
            
                        section.innerHTML = xmlCode;
                    }
                
                    else if(unit=="C")
                        {
                            let xmlCode = `
                            
                            <ul class="nav d-block nav-pills">
                           
                            <li class="nav-item"><a   class="border nav-link "  href="http://127.0.0.1:8000/information/make/application/condition/C">C-Unit Application </a></li>
                            <li class="nav-item"><a   class="border nav-link"  href="http://127.0.0.1:8000/information/make/Prospectus/C">C-Unit Prospectus</a></li>
                            <li class="nav-item"><a   class="border nav-link"  href="http://127.0.0.1:8000/information/make/Notice/C">C-Unit Notices</a></li>
                            <li class="nav-item"><a   class="border nav-link"  href="#admit-card">C Unit Admit Card</a></li>
                         </ul>
                                 `
                            section.innerHTML = xmlCode;
                        }
        
                    else
        
                    if(unit=="D")
                        {
                            let xmlCode = `
                            
                            <ul class="nav d-block nav-pills">
                           
                            <li class="nav-item"><a class="border nav-link "  href="http://127.0.0.1:8000/information/make/application/condition/D">D-Unit Application </a></li>
                            <li class="nav-item"><a class="border nav-link"  href="http://127.0.0.1:8000/information/make/Prospectus/D">D-Unit Prospectus</a></li>
                            <li class="nav-item"><a class="border nav-link"  href="http://127.0.0.1:8000/information/make/Notice/D">D-Unit Notices</a></li>
                            <li class="nav-item"><a class="border nav-link"  href="#admit-card">D Unit Admit Card</a></li>
                         </ul>
                            
                            `
                
                            section.innerHTML = xmlCode;
                        }
        }
            </script>


   
{% endblock content %}


